.fly-text-root {
	position: absolute;
	top: 40%;
	left: 50%;
	translate: -50% 0;
	max-width: 80%;
}

.fly-text-label {
	font-size: 46px;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.9);
	-unity-text-outline-width: 1px;
	-unity-text-outline-color: rgb(0, 0, 0);
	white-space: normal;
}
