.fly-text-root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.fly-text-label {
    -unity-text-align: middle-center;
    white-space: nowrap;
    font-size: 72px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}
