.main-menu-root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-panel {
    position: relative;
    padding: 36px 52px;
    min-width: 300px;
}

.menu-title {
    font-size: 52px;
    margin-bottom: 32px;
}

.menu-button {
    width: 300px;
    height: 60px;
    margin-bottom: 14px;
    font-size: 30px;
}
